.services{
    background-color: #444857;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}

.services h3{
    font-size: 1rem;
    text-transform: uppercase;
    color: rgb(236,184,7);
    margin: 0;
    padding: 0;
}

.services h2{
    font-size: 48px;
    color: white;
    margin-bottom: 48px;
    margin-top:0;
}

.services > .row {
    display:flex;
    justify-content: space-around;
}

/* .services > .row {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
} */


.services > .row h4{
    margin-bottom: 8px;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
    color: inherit;
    font-size: 24px;
    color:white;
}

.service-box{
    width: 20rem;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.services > .row p{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8)

}

.services > .row p ion-icon{
    color:red;
}

.services > .row span{
    background-color: white;
    width: 112px;
    height: 112px;
    display: inline-block;
    border-radius: 50%;
    color: #1d809f;
    font-size: 36px;
    line-height: 120px;
    box-shadow: 0px 5px 6px 1px rgba(0,0,0,20);
}

.ion1 {
    font-size: 58px;
    margin: 26px auto;
  }